.hidden {
    display: none;
}

body img {
    position: fixed;
    top: 0;     /* position from top corner , use with position: fixed */ 
    left: 0;
    width: 100vw;   /* viewport width (%) */
    height: 100vh;   /* viewport height (%) */
    object-fit: cover;
    z-index: -1;    /* stacking order: send to badk */
    opacity: 0.7;
}

body {
    display: flex;      /* enable flexbox layout */
    flex-direction: column;
    align-items: center;
}

input {
    /* size */
    width: 200px;
    padding: 12px 15px;
    
    /* border */
    border: 2px solid #ddd;
    border-radius: 8px;
    
    /* text */
    font-size: 14px;
    color: black;
    
    /* background */
    background-color: rgba(0, 0, 0, 0.5);
    
    /* others */
    outline: none;

}
